
.categories__item {
    display: flex;
    height: 300px;
}

.categories__item:nth-child(even) {
    flex-direction: row-reverse;
}

.categories__item > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categories__item > div > h1,
.categories__item > div > p {
    text-align: center;
}

.categories__item > div > img {
    width: 100%;
    flex: 1
}